body {
  font-size: 90%;
  background: #fefefe;
  color: #333;
  font-family: helvetica, arial, sans-serif;
  cursor: default;
}

a { color: #3333cc; }

a:hover { color: #bbbbff }

#filtersList {
  border: 1px dotted gray;
  padding: 1px;
  font-size: 75%;
  display: none;
}

.ui-button {
  padding: 3px;
}

.spacer {
  height: 7px;
  width: 5px;
  display: block;
}
.clicker{
  border-top: 1px solid #aaaaaa;
  padding: 5px;
  height: 35px;
}
.origin{
  width: 60%;
  color: #555555;
  font-size: 16px;
  float: left;
  display: inline;
}
.switch-container{
  width: 30%;
  float: left;
  display: inline;
  position: relative;
  cursor: pointer;
}
.actionToggle {
  cursor: pointer;
}
.clear{
  clear: both;
}
.switch-candy a img{
  width: 16px;
  margin-left: auto;
  margin-right: auto;
}
.block .switch-candy a {
  background-color: #c61223;
}
.cookieblock .switch-candy a{
  background-color: #ffcc00;
}
.noaction .switch-candy a{
  background-color: #339900;
}
.honeybadgerPowered{
  width: 20px;
  height: 20px;
  display: inline;
  float: right;
  position: relative;
}
.userset .honeybadgerPowered{
  background: url('../icons/badger-undo.png') no-repeat;
  cursor: pointer;
}
.tooltipContainer{
  display: block;
  clear: both;
  color: #777777;
  font-size: 14px;
  font-weight: bold;
}
.tooltipArrow{
  position: relative;
  top: 8px;
  right: 212px;
  display: none;
}
#prefs {
  float: right;
  margin-left: 3px;
  margin-top: 3px;
}
#detected {
  text-align: center;
  color: #707070;
  font-size: 16px;
  padding-bottom: 7px;
}
#privacyBadgerHeader h2{
  margin-left: 10px;
  height: 48px;
  line-height: 48px;
  display: inline;
  color: #454545;
  font-size: 20px;
}
#privacyBadgerHeader img{
  display: inline;
  margin-left: 20%;
  float: left;
}
#helplink {
  padding-top: 5px;
  text-decoration: none;
  color: #4183c4;
}
#helplink:hover {
  color: #aaaaff;
}
#trackerLink {
  color: #4183c4;
}
#trackerLink:hover {
  color: #aaaaff;
}
#thirdPartyCookiesError {
  background-color: #f00;
  color: #f0f0f0;
}
#cookiePrefsWarning {
  background-color:#FF5757;
  color:white;
  font-size:1em;
  padding:0.75em;
}
.modalButton {
  height: 70px;
  line-height: 70px;
  background: #E8E8E8;
  font-size: 20px;
  text-align: center;
  margin-bottom: 7px;
  margin-top: 7px;
  cursor: pointer;
}
.clickable {
  cursor: pointer;
}
.buttonActive {
  background: #FFFFFF;
}
#buttonsDiv {
  font-family: helvetica, arial, sans-serif;
}
.vexMessage {
  height: 50px;
  line-height: 50px;
  font-weight: bold;
  color:black;
  font-size: 20px;
  text-align: center;
}
.ui-slider {
  opacity: 0;
  z-index: 20;
}
.ui-slider a.ui-slider-handle {
  cursor: move;
}

#blockedResources{
  max-height: 400px;
  overflow-y: auto;
}
